---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const allProjects = await getCollection('projects');
// REMINDER: RUN `npx astro sync` after adding new project

interface Project {
	title: string,
	description: string,
	date: string,
	tags: string[]
}

const projects: Project[] = [
	{
		title: "ML Solutions to NP-hard Problems",
		description: "Constructed a Deep Learning Neural Network, Genetic Algorithms and Reinforcement Learning algorithms .",
		date: 'Feb 2023 - Apr 2023',
		tags: ["Python", "Machine Learning", "Artificial Intelligence"]
	},
	{
		title: "Paret Language Compiler",
		description: "Implemented a parser and interpreter for the Paret Language.",
		date: 'Feb 2023 - Apr 2023',
		tags: ["Scala"]
	},
	{
		title: "Rowing Trainings Scheduler",
		description: "An API split into 5 microservices, aimed at helping rowers find partners for their training sessions or competitions.",
		date: 'Nov 2022 - Feb 2023',
		tags: ["Microservices", "Spring Boot", "Spring Integration", "Team Project"]
	},
	{
		title: "Recursive Raytracer",
		description: "Implemented a ray tracer to speed-up the graphics pipeline and produce physically accurate results.",
		date: 'Aug 2022 - Nov 2022',
		tags: ["C++", "Computer Graphics", "OpenGL", "Team Project"]
	},
	{
		title: "Quiz Application",
		description: "Developed a desktop application meant to raise awareness in the form of a gamified quiz application.",
		date: 'Feb 2022 - Apr 2022',
		tags: ["Spring Boot", "JavaFX", "Team project"]
	},
	{
		title: "Branf*ck Assembly Interpreter",
		description: "Implemented an interpreter for the Brainf*ck Programming Language in x86 AT&T Assembly.",
		date: 'Aug 2021 - Nov 2021',
		tags: ["Assembly"]
	},
]
---

<Layout title="Welcome to Astro.">
	<div class="container mx-auto">
		<section id="hero" class="flex flex-col justify-center items-start md:h-[calc(100vh-96px)] px-4">
			<ul class="mb-3 flex items-center gap-6 text-2xl text-gray-400">
				<li class="hover:text-secondary transition-colors">
					<a href="https://www.linkedin.com/in/victor-filip-ghita/" target="_blank">
						<i class="iconoir-linkedin"></i>
					</a>
				</li>
				<li class="hover:text-secondary transition-colors">
					<a href="https://github.com/tomighita" target="_blank">
						<i class="iconoir-github"></i>
					</a>
				</li>
				<li class="hover:text-secondary transition-colors">
					<a href="https://twitter.com/tomighita" target="_blank">
						<i class="iconoir-twitter"></i>
					</a>
				</li>
			</ul>
			<div>
				<h2 class="text-xl md:text-3xl lg:text-5xl font-semibold">Hi, nice to meet you. I am </h2>
				<h1 class="text-5xl lg:text-8xl text-primary py-3 font-bold">Victor Ghita <span class="text-3xl text-secondary">a.k.a</span> Tomi.</h1>
				<h3 class="text-xl md:text-2xl lg:text-3xl max-w-prose font-medium text-gray-400">I am a Computer Science and Engineering student,
					 working part-time as a software developer.</h3>
			</div>
			<div class="mt-20 flex gap-6">
				<a href="mailto:ghitavictorfilip@gmail.com" class="btn btn-primary btn-outline">
					Email me
					<i class="iconoir-mail"></i>
				</a>
				<a href="/resume.pdf" class="btn btn-secondary">
					Résumé
					<i class="iconoir-journal-page"></i>
				</a>
			</div>
			<div class="mt-20 text-lg md:text-xl flex gap-6">
				<label>Scroll down for more information</label>
				<i class="text-3xl text-info animate-bounce iconoir-download-circle"></i>
			</div>
		</section>
		<section id="about_me" class="py-8 px-4">
			<div class="divider mb-16">
				<h4 class="text-3xl font-semibold"><span class="text-secondary mr-3">1.</span>About me</h4>
			</div>
			<div class="grid gap-3 grid-cols-1 md:grid-cols-2 p-6">
				<div class="w-full flex flex-col gap-6 max-w-prose">
					<p>Hi, my name is Victor-Filip Ghita, also known as <span class="text-secondary">Tomi</span>. I am a Computer Science and Engineering student at
						<a class="text-[#00b7ff] link">TU Delft</a>, and am working as full-stack developer, part-time.
						My work experience started in 2020, having had the opportunity to work in both front-end and back-end development.
					</p>
					<div>
						<p>Along the way, I tried many technologies, but I am most familiar with:</p>
						<ul class="list-inside list-disc marker:text-secondary">
							<li>Spring Boot & Java</li>
							<li>Angular & Typescript | JavaScript</li>
							<li>C++</li>
							<li>Scala</li>
							<li>Ruby on Rails</li>
						</ul>
					</div>
					<p>Some of the more relevant courses I have studied are: Object-Oriented Programming, Algorithms and Data Structures, Machine Learning,
						Information and Data Management, Big Data Processing, Computational Intelligence, Software Engineering Methods.</p>
				</div>
				<div class="w-full flex justify-center items-center">
					<div class="w-64 aspect-auto border-2 border-primary p-6 relative bg-base-100
						after:content=[''] after:absolute after:inset-0 after:bg-gray-900 after:opacity-30 after:transition after:duration-500
						hover:after:opacity-10
						before:content=[''] before:border-2 before:border-secondary before:top-6 before:-bottom-6 before:left-6 before:-right-6 before:absolute before:-z-10 before:transition-all before:duration-500
						hover:before:top-3 hover:before:-bottom-3 hover:before:left-3 hover:before:-right-3">
						<img class="w-full" src="/me.png" alt="Profile picture of Tomi Ghita">
					</div>
				</div>
			</div>
		</section>
		<section id="work_experience" class="p-8 px-4">
			<div class="divider mb-16">
				<h4 class="text-3xl font-semibold"><span class="text-secondary mr-3">2.</span>Work Experience</h4>
			</div>
			<ol class="relative border-l border-gray-700 mx-auto max-w-5xl">
				<!-- MongoDB -->
				<li class="mb-10 ml-4">
					<div class="absolute w-3 h-3 rounded-full -left-1.5 border  border-secondary bg-gray-700"></div>
					<div class="mb-1 text-sm font-normal leading-none text-gray-500">
						<time>June 2023</time> -
						<time>August 2023</time>
					</div>
					<h3 class="text-lg font-semibold">Software Engineering Intern @ <a class="link" href="https://www.mongodb.com/" target="_blank">MongoDB</a></h3>
					<p class="mb-2 text-base font-normal text-gray-400">
						Was part of the Query Execution team.
					</p>
					<ul class="mb-2 pl-4 font-normal text-gray-500 list-disc marker:text-primary">
						<li>Worked on the validation rules for cluster-wide query hints for the execution engine.</li>
						<li>Implemented authorization for a new command.</li>
					</ul>
					<div>
						<p class="text-gray-500">Technologies used:</p>
						<div class="badge badge-info badge-outline mr-2">Ruby on Rails</div>
						<div class="badge badge-info badge-outline mr-2">MySQL</div>
					</div>
				</li>
				<!-- TU Delft -->
				<li class="mb-10 ml-4">
					<div class="absolute w-3 h-3 rounded-full -left-1.5 border  border-secondary bg-gray-700"></div>
					<div class="mb-1 text-sm font-normal leading-none text-gray-500">
						<time>January 2023</time> - Current
					</div>
					<h3 class="text-lg font-semibold">Software developer @ <a class="link" href="https://www.tudelft.nl" target="_blank">TU Delft</a></h3>
					<p class="mb-2 text-base font-normal text-gray-400">
						Worked on the university's internal questions and answers platform, which is forked from
						<a class="link" href="https://github.com/codidact/qpixel" target="_blank">Qpixel</a>.
					</p>
					<ul class="mb-2 pl-4 font-normal text-gray-500 list-disc marker:text-primary">
						<li>Integrated the platform&apos;s authentication system to use other learning platforms like OpenEdx as authentication providers.</li>
						<li>Developed a learning analytics dashboard for moderators and admins.</li>
					</ul>
					<div>
						<p class="text-gray-500">Technologies used:</p>
						<div class="badge badge-info badge-outline mr-2">Ruby on Rails</div>
						<div class="badge badge-info badge-outline mr-2">MySQL</div>
					</div>
				</li>
				<!-- Feedback Analytics -->
				<li class="mb-10 ml-4">
					<div class="absolute w-3 h-3 rounded-full -left-1.5 border  border-secondary bg-gray-700"></div>
					<div class="mb-1 text-sm font-normal leading-none text-gray-500">
						<time>April 2023</time> - 
						<time>July 2023</time>
					</div>
					<h3 class="text-lg font-semibold">Software Engineering Intern @ <a class="link" href="https://feedback-analytics.com/" target="_blank">Feedback Analytics</a></h3>
					<p class="mb-2 text-base font-normal text-gray-400">
						Developed a dashboard to visualise employee satisfaction based on their responses to periodic surveys.
					</p>
					<ul class="mb-2 pl-4 font-normal text-gray-500 list-disc marker:text-primary">
						<li>Added various visual graphs such as employee average rating over time or survey satisfaction percentage.</li>
						<li>Conducted a Human-Computer Interaction survey based on Nielsen&apos;s heuristics to improve the user experience of the application.</li>
					</ul>
					<div>
						<p class="text-gray-500">Technologies used:</p>
						<div class="badge badge-info badge-outline mr-2">Next.js</div>
						<div class="badge badge-info badge-outline mr-2">MongoDB</div>
					</div>
				</li>
				<!-- Keba 2 -->
				<li class="mb-10 ml-4">
					<div class="absolute w-3 h-3 rounded-full -left-1.5 border  border-secondary bg-gray-700"></div>
					<div class="mb-1 text-sm font-normal leading-none text-gray-500">
						<time>September 2021</time> -
						<time>December 2022</time>
					</div>
					<h3 class="text-lg font-semibold">Software developer @ <a class="link" href="https://www.keba.com/en/home" target="_blank">Keba</a></h3>
					<ul class="mb-2 pl-4 font-normal text-gray-500 list-disc marker:text-primary">
						<li>Devised a web interface for managing charging stations for companies and hotels.</li>
						<li>Created a dashboard and containerized it into a desktop application.</li>
					</ul>
					<div>
						<p class="text-gray-500">Technologies used:</p>
						<div class="badge badge-info badge-outline mr-2">Angular</div>
						<div class="badge badge-info badge-outline mr-2">ElectronJS</div>
					</div>
				</li>
				<!-- Keba 1 -->
				<li class="mb-10 ml-4">
					<div class="absolute w-3 h-3 rounded-full -left-1.5 border  border-secondary bg-gray-700"></div>
					<div class="mb-1 text-sm font-normal leading-none text-gray-500">
						<time>July 2020</time> -
						<time>May 2021</time>
					</div>
					<h3 class="text-lg font-semibold">Software Developer Intern @ <a class="link" href="https://www.keba.com/en/home" target="_blank">Keba</a></h3>
					<p class="mb-2 text-base font-normal text-gray-400">
						Remodeled the legacy web application available on the Keba Charging Station and refactored it, by splitting it into a separate client and server.
					</p>
					<ul class="mb-2 pl-4 font-normal text-gray-500 list-disc marker:text-primary">
						<li>Created a single-page application to act as the interface for communicating with the stations.</li>
						<li>Developed a REST API to be used by the front-end, which handled the managing of stations.</li>
						<li>Prototyped a cross-platform mobile application aiming to provide users access easier access to their chargers.</li>
					</ul>
					<div>
						<p class="text-gray-500">Technologies used:</p>
						<div class="badge badge-info badge-outline mr-2">Angular</div>
						<div class="badge badge-info badge-outline mr-2">Laravel</div>
						<div class="badge badge-info badge-outline mr-2">Xamarin</div>
					</div>
				</li>
			</ol>

		</section>
		<section id="projects" class="py-8 px-4">
			<div class="divider mb-16">
				<h4 class="text-3xl font-semibold"><span class="text-secondary mr-3">3.</span>Projects</h4>
			</div>
			<div class="flex flex-col gap-6">
				<h5 class="text-xl font-semibold text-center">Featured project:</h5>
				<div class="grid grid-cols-1 mx-auto w-full md:w-2/3 lg:w-1/2 mb-3">
					{allProjects.map(project => (
						<div class="col-span-6 col-start-3">
							<ProjectCard project={project}/>
						</div>
					  ))}
				</div>
				<h5 class="text-xl font-semibold text-center">Other projects worth mentioning:</h5>
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full gap-6">
					{projects.map((item) => (
						<div class="relative rounded-t border-x border-t border-zinc-800 flex flex-col p-4 before:content-[''] before:inset-x-0 before:-bottom-1 before:h-1  before:bg-gradient-to-r before:from-primary before:to-secondary before:absolute before:rounded-b">
							<h5 class="text-semibold text-gray-300 text-lg">{item.title}</h5>
							<p class="text-semibold text-gray-500 text-sm italic">{item.date}</p>
							<p class="text-gray-400 max-w-sm">{item.description}</p>
							<div class="flex-grow mt-2 flex items-end">
								<ul class="flex gap-2 py-2 flex-wrap items-start">
									{item.tags.map((tag) => (
										<li class="badge badge-info badge-outline">{tag}</li>
									))}
								</ul>
							</div>
						</div>
						))}
				</div>
			</div>
		</section>
		<section id="contact" class="py-8 px-4">
			<div class="divider mb-16">
				<h4 class="text-3xl font-semibold"><span class="text-secondary mr-3">4.</span>Contact</h4>
			</div>
			<div class="w-full flex flex-col justify-center items-center gap-6 py-12">
				<p class="text-center max-w-prose mx-auto">
					I am always looking for new and challanging opportunities so my inbox is always open. Feel free to ask any questions or propose new ideas.</p>
				<a href="mailto:ghitavictorfilip@gmail.com" class="btn btn-primary">Get in touch</a>
			</div>
		</section>
		</div>
</Layout>
